section {
      width: 1200px;
      border: 5px solid green;
      padding-top: 30px;
      padding-left: 25px;
      padding-bottom: 30px;
      padding-right: 25px;
      margin: 10px;
      text-align: center;
      font-size: 50px;
      
}

* {
      box-sizing: border-box;
      font-family: 'Oxygen', sans-serif;
}


nav {
      width: 1200px;
      border: 5px solid green;
      padding-top: 30px;
      padding-left: 25px;
      padding-bottom: 30px;
      padding-right: 25px;
      margin: 10px;
      font-size: 15px;
}

body {
      background-color: lightyellow;

}

@media only screen and (max-width: 620px) {
  /* para teléfonos móviles */
  .menu, .main, .right {
    width: 100%;
  }
.para1 {
      font-size: 15px;  
}

ul {
    width: 1200px;
      border: 5px solid green;
      padding-top: 30px;
      padding-left: 25px;
      padding-bottom: 30px;
      padding-right: 25px;
      margin: 10px;
      font-size: 15px;  
}

form {
      width: 1200px;
      border: 5px solid green;
      padding-top: 30px;
      padding-left: 25px;
      padding-bottom: 30px;
      padding-right: 25px;
      margin: 10px;
}

.data {
      font-size: 15px;
}

